@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-Thin.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-UltraLight.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-Medium.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraine';
  src: url('~src/assets/fonts/e-Ukraine-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// UKRAINE HEAD

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-Thin.eot');
  src: url('~src/assets/fonts/e-UkraineHead-Thin.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-Thin.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-Thin.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-UltraLight.eot');
  src: url('~src/assets/fonts/e-UkraineHead-UltraLight.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-UltraLight.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-UltraLight.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-Light.eot');
  src: url('~src/assets/fonts/e-UkraineHead-Light.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-Light.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-Light.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-Regular.eot');
  src: url('~src/assets/fonts/e-UkraineHead-Regular.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-Regular.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-Regular.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-Medium.eot');
  src: url('~src/assets/fonts/e-UkraineHead-Medium.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-Medium.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-Medium.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-Bold.eot');
  src: url('~src/assets/fonts/e-UkraineHead-Bold.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-Bold.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-Bold.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eUkraineHead';
  src: url('~src/assets/fonts/e-UkraineHead-NAME.eot');
  src: url('~src/assets/fonts/e-UkraineHead-NAME.eot?#iefix')
  format('embedded-opentype'),
  url('~src/assets/fonts/e-UkraineHead-NAME.woff2') format('woff2'),
  url('~src/assets/fonts/e-UkraineHead-NAME.woff') format('woff'),
  url('~src/assets/fonts/e-UkraineHead-NAME.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
