@import "./bootstrap/variables";

.ic {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include media-breakpoint-down(md) {
    width: 20px;
    height: 20px;
  }

  // &-close {
  //   background-image: url('~src/assets/img/icons/ic_close.svg');
  // }
}
