@import 'node_modules/bootstrap/scss/mixins';

.ng-select {
  width: 100%;
  background: white;
  height: 64px;
  border-radius: 40px;
  @include media-breakpoint-down(tb) {
    height: 56px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 16px;
  }

  body.contrast &.ng-select-focused {
    outline: 2px solid black;
  }

  &.ng-select-single {
    .ng-select-container {
      &.ng-has-value {
        align-items: center;
      }
    }
  }

  &.ng-select-opened {
    .ng-select-container {
      background: transparent;

      .ng-arrow-wrapper {
        .ng-arrow {
          transform: rotate(180deg);
        }
      }
    }
  }

  &.ng-select-focused {
    &:not(.ng-select-opened) {
      & > .ng-select-container {
        box-shadow: none;
      }
    }
  }

  &.ng-select-single,
  &.ng-select-multiple {
    .ng-select-container {
      border: none;
      height: 100%;
      background-color: transparent;
      cursor: pointer;
      align-items: center;

      .ng-value-container.ng-value-container {
        padding-left: rem-calc(24px);
        position: relative;
        overflow: unset;
        @include media-breakpoint-down(sm) {
          padding-left: rem-calc(14px);
        }

        .ng-value {
          &-label {
            @include media-breakpoint-down(tb) {
              font-size: 13px;
              line-height: 16px;
            }
            @include media-breakpoint-down(sm) {
              font-size: 14px;
            }
            @include media-breakpoint-down(xs) {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        .ng-input.ng-input {
          position: static;
          width: calc(100% - 36px);
          height: 100%;
          input {
            display: block;
            cursor: pointer;
            @include media-breakpoint-down(tb) {
              font-size: rem-calc(12px);
              line-height: 1.5;
            }
            @include media-breakpoint-down(sm) {
              @include h7;
              margin-bottom: 0;
            }
            &::-webkit-search-decoration {
              -webkit-appearance: none;
            }
          }
        }

        .ng-placeholder {
          pointer-events: none;
          width: 100%;
          position: absolute;
          color: #bababa;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre;
          width: calc(100% - rem-calc(74px));
          @include media-breakpoint-down(tb) {
            font-size: rem-calc(12px);
            line-height: 1.5;
          }
          @include media-breakpoint-down(sm) {
            @include h7;
            margin-bottom: 0;
          }
          body.contrast & {
            color: black;
          }
        }
      }
    }
  }

  &.ng-select-multiple.ng-select-multiple-checkbox {
    .ng-value-container {
      overflow: hidden;
      position: relative;
      padding-right: 45px;

      .ng-value {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .ng-value-icon.left {
      display: none;
    }

    .ng-option {
      font-size: 15px;
      position: relative;
      padding-left: 40px;
      padding-top: 0;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
      &::before {
        content: '';
        width: 0;
        min-width: 24px;
        height: 24px;
        left: 8px;
        display: block;
        background: $cyan;
        border-radius: 8px;
        margin-right: 8px;
      }
      &::after {
        content: '';
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        position: absolute;
        background: url(/assets/img/icons/ic_checkbox.svg) no-repeat center / 12px;
        opacity: 0;
        transition: 0.5s ease opacity;
      }
      &.ng-option-selected::after {
        opacity: 1;
      }
    }
  }

  .ng-arrow-wrapper {
    .ng-arrow.ng-arrow {
      background: url(/assets/img/icons/ic_select_dropdown.svg) no-repeat center / contain;
      width: 24px;
      height: 24px;
      display: block;
      margin-right: 12px;
      margin-top: 2px;
      @include media-breakpoint-down(xs) {
        background-image: url(/assets/img/icons/ic_select_dropdown_mob.svg);
        width: 14px;
        margin-right: 16px;
        margin-bottom: 0;
      }
    }
  }
}

.ng-dropdown-panel {
  background: white;
  margin-top: 10px;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  @include media-breakpoint-down(sm) {
    margin-top: 4px;
  }

  &.ng-select-top {
    bottom: 100%;
    margin-bottom: 12px;
  }

  .ng-dropdown-panel-items {
    max-height: 400px;
    .ng-option {
      white-space: normal !important;
      padding: 0 !important;
      margin: 0 !important;
      @include media-breakpoint-down(tb) {
        white-space: normal;
      }
      @include media-breakpoint-down(sm) {
        @include h7;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      body.contrast & {
        background-color: white;

        &.ng-option-selected,
        &.ng-option-marked {
          color: black;
        }
      }

      &:first-child:last-child {
        padding: 0;

        &.ng-option-disabled {
          padding: 8px !important;
          @include media-breakpoint-down(sm) {
            padding: 8px 16px !important;
          }
        }
      }

      &-disabled:not([role]) {
        opacity: 0.5;
        cursor: default;
        body.contrast & {
          opacity: 1;
        }
      }

      &-marked {
        background-color: #f7f7f7;
        body.contrast & {
          background-color: white;
        }
      }
    }
  }
}
