@import 'node_modules/bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.block {
  &__main {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__wrapper {
    padding: 40px 0;
  }

  &__text {
    max-width: 649px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      font-size: 120px;
      @include media-breakpoint-down(sm) {
        font-size: 90px;
      }
    }
  }
}
