@import "bootstrap/scss/mixins";
@import "src/assets/scss/theme-angular-starter1/bootstrap/variables";

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url("/assets/img/present-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    .player-btn {
      width: 100px;
      height: 50px;
      background: #000000;
      border-radius: 48px;
      color: white;
    }
  }

  video {
    width: 90%;
    height: 80%;
    display: block;
  }
}

.present-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url("/assets/img/present-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 50px;
  left: 155px;

  .title {
    font-family: eUkraine;
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  .subtitle {
    font-family: eUkraine;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #D4D4D4;
  }
}

.present-play {
  width: 116px;
  height: 120.58px;
  background-color: none;
}

@include media-breakpoint-between(xs, tb) {
  .present-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 179.56px;
  }

  .info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 155px;

    .title {
      font-family: eUkraine;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #fff;
    }
    .subtitle {
      font-family: eUkraine;
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      color: #D4D4D4;
    }
  }

  .present-play {
    width: 48px;
    height: 49.2px;
    background-color: none;
  }
}

@include media-breakpoint-up(tb){
    .present-play  {
      &:hover {
        opacity: 1;
        transform: scale(1.02);
      }

      &:active {
        opacity: 0.5;
      }
    }
}
