<section class="news-container">
  <div class="daily-container">
    <h1 class="title">Щотижневі новини</h1>
    <h4 class="subtitle">Підпишіться, щоб отримувати листи</h4>
  </div>
  <form class="form-container">
    <div class="input-container">
        <input class="email-input" placeholder="Ваш email" />
        <img class="separator" src="/assets/img/icons/separator.svg" />
    </div>
    <button class="sub-btn">Підписатись</button>
    <div class="desc">Даю згоду на обробку та використання персональних даних</div>
  </form>
</section>
