@import "bootstrap/scss/mixins";
@import "src/assets/scss/theme-angular-starter1/bootstrap/variables";

.action-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43px;
  margin-top: 52px;
  margin-left: 64px;

  .header {
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    color: black;
  }

  .main {
    max-width: 420px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: black;
  }

  .confirm-btn {
    width: 192px;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 48px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 17px;
  }

  .close-btn {
    position: absolute;
    width: 37.59px;
    height: 36px;
    top: -10px;
    right: 0px;
  }
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 452px;
  background-color: #ffcd4e;
  gap: 128px;
}

.daily-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 448px;
  gap: 24px;

  .title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.loader-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 294px;
  height: 200px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 294px;
  gap: 27px;

  .desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 258px;
  }

  .sub-btn {
    width: 294px;
    height: 64px;
    border-radius: 40px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;

    .email-input {
      width: 100%;
      background: none;
      border: none;

      &::placeholder {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .separator {
      width: 100%;
    }

    .error {
      position: absolute;
      top: 25px;
      width: 250px;
      margin-top: 0.2rem;
      padding-left: 0.5rem;
      text-align: left;
      color: black;
      font-size: small;
    }
  }
}

@include media-breakpoint-between(xs, tb) {
  .action-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 0px;
    margin-left: 0px;

    .header {
      font-size: 26px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      text-align: left;
      color: black;
    }

    .main {
      min-width: 230px;
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: -0.02em;
      text-align: left;
      color: black;
    }

    .confirm-btn {
      width: 184px;
      height: 48px;
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: center;
      border-radius: 48px;
      background-color: #000000;
      color: #ffffff;
      margin-top: 17px;
    }

    .close-btn {
      position: absolute;
      width: 16px;
      height: 16px;
      top: -16px;
      right: -16px;
    }
  }

  .news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 452px;
    background-color: #ffcd4e;
    gap: 54px;
    padding: 16px;
  }

  .daily-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 448px;

    .title {
      font-size: 26px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: -0.02em;
      text-align: left;
      max-width: 150px;
    }

    .subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }

  .loader-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 27px;

    .desc {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }

    .sub-btn {
      width: 184px;
      height: 48px;
      border-radius: 40px;
      background-color: #000000;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
    }

    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2px;

      .separator {
        width: 288px;
      }

      .error {
        position: absolute;
        top: 21px;
        width: 100%;
        padding-left: 0.5rem;
        text-align: left;
        color: black;
        font-size: 10px;
      }
    }
  }
}

@include media-breakpoint-up(tb) {
  .sub-btn {
    &:hover:enabled {
      opacity: 1;
      transform: scale(1.02);
    }

    &:active:enabled {
      opacity: 0.5;
    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #000000b1;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  text-align: center;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
