<section class="news-container">
  <div class="daily-container">
    <h1 class="title">Щотижневі новини</h1>
    <h4 class="subtitle">Підпишіться, щоб отримувати листи</h4>
  </div>
  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit(content)">
    <div class="input-container">
      <input
        class="email-input"
        placeholder="Ваш email"
        type="email"
        [formControl]="emailFormControl"
        autoComplete="email"
      />
      <img class="separator" src="/assets/img/icons/separator.svg" />

      <div *ngIf="(emailFormControl.hasError('email') && (emailFormControl.dirty ||
      emailFormControl.touched))" class="error">* Введіть <strong>валідний email</strong></div>
      <div *ngIf="(emailFormControl.hasError('required') && (emailFormControl.dirty ||
      emailFormControl.touched))" class="error">* Введіть <strong>валідний email</strong></div>

    </div>
    <button [disabled]="!loginForm.valid" class="sub-btn" type="submit">Підписатись</button>
    <div class="desc">
      Даю згоду на обробку та використання персональних даних
    </div>
  </form>
</section>

<ng-template  #content let-c="close" let-d="dismiss">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 664px; height: 411px;">
      <div class="modal-body">
        <button class="close-btn" (click)="d('Cross click')"> 
          <img src="/assets/img/icons/close.svg">
        </button>
          <div class="action-container">
            <h1 class="header">Дякуємо</h1>
            <div class="main">Ми відправили лист на вашу пошту.<br> 
              Будь ласка, підтвердіть підписку.</div>
              <button class="confirm-btn" (click)="c('Save click')"> 
                ОК
              </button>
          </div>
       </div>
    </div>
  </div>
</ng-template>


	

