<section class="corruption-container">

  <div class="info-container">
    <div class="title-container">
      <img class="emoji" src="/assets/img/icons/fist.svg" />
      <h3 class="title">Зіткнулися з корупцією?</h3>
    </div>
    <div class="contacts-container">
      <div class="desc">Пишіть нам</div>
      <a href="mailto:hello@thedigital.gov.ua" class="email">hello@thedigital.gov.ua</a>
    </div>
  </div>
  <img class="separator" src="/assets/img/icons/separator.svg" />

  <div class="info-container">
    <div class="title-container">
      <img class="emoji" src="/assets/img/icons/chat.svg" />
      <h3 class="title">Напишіть у чат-бот</h3>
    </div>
    <div class="contacts-container">
      <div class="desc">Оберіть месенджер</div>
      <div class="messengers">
        <a href="https://www.viber.com/diia_help_bot" target="_blank">
            <img src="/assets/img/icons/viber.svg">
        </a>
        <a href="https://t.me/mintsyfra" target="_blank">
            <img src="/assets/img/icons/telegram.svg">
        </a>
        <a href="https://www.facebook.com/mintsyfra/" target="_blank">
            <img src="/assets/img/icons/facebook.svg">
        </a>
      </div>
    </div>
  </div>
  <img class="separator" src="/assets/img/icons/separator.svg" />

  <div class="info-container">
    <div class="title-container">
      <img class="emoji" src="/assets/img/icons/phone.svg" />
      <h3 class="title">Зателефонуйте на гарячу лінію</h3>
    </div>
    <div class="contacts-container">
      <div class="desc">Працює з 09:00 до 18:00</div>
      <div href="tel:+380971628529" class="number">+38 097 162 85 29</div>
    </div>
  </div>
</section>
