@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}